# SQL query from table names

In This notebook we are going to test if using just the name of the table, and a shord definition of its contect we can use a model like GTP3.5-Turbo to select which tables are necessary to create a SQL Order to answer the user petition.

In [ ]:
# Step 1: Install the required packages
!pip install python-dotenv  # Installs python-dotenv for loading .env
!pip install openai         # Installs the OpenAI library

# Step 2: Import necessary libraries
import os
from openai import OpenAI
from dotenv import load_dotenv

Collecting python-dotenv
  Downloading python_dotenv-1.1.0-py3-none-any.whl.metadata (24 kB)
Downloading python_dotenv-1.1.0-py3-none-any.whl (20 kB)
Installing collected packages: python-dotenv
Successfully installed python-dotenv-1.1.0
Requirement already satisfied: openai in /usr/local/lib/python3.11/dist-packages (1.68.2)
Requirement already satisfied: anyio<5,>=3.5.0 in /usr/local/lib/python3.11/dist-packages (from openai) (4.9.0)
Requirement already satisfied: distro<2,>=1.7.0 in /usr/local/lib/python3.11/dist-packages (from openai) (1.9.0)
Requirement already satisfied: httpx<1,>=0.23.0 in /usr/local/lib/python3.11/dist-packages (from openai) (0.28.1)
Requirement already satisfied: jiter<1,>=0.4.0 in /usr/local/lib/python3.11/dist-packages (from openai) (0.9.0)
Requirement already satisfied: pydantic<3,>=1.9.0 in /usr/local/lib/python3.11/dist-packages (from openai) (2.10.6)
Requirement already satisfied: sniffio in /usr/local/lib/python3.11/dist-packages (from openai) (1.3.1)
Requirement already satisfied: tqdm>4 in /usr/local/lib/python3.11/dist-packages (from openai) (4.67.1)
Requirement already satisfied: typing-extensions<5,>=4.11 in /usr/local/lib/python3.11/dist-packages (from openai) (4.12.2)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.11/dist-packages (from anyio<5,>=3.5.0->openai) (3.10)
Requirement already satisfied: certifi in /usr/local/lib/python3.11/dist-packages (from httpx<1,>=0.23.0->openai) (2025.1.31)
Requirement already satisfied: httpcore==1.* in /usr/local/lib/python3.11/dist-packages (from httpx<1,>=0.23.0->openai) (1.0.7)
Requirement already satisfied: h11<0.15,>=0.13 in /usr/local/lib/python3.11/dist-packages (from httpcore==1.*->httpx<1,>=0.23.0->openai) (0.14.0)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.11/dist-packages (from pydantic<3,>=1.9.0->openai) (0.7.0)
Requirement already satisfied: pydantic-core==2.27.2 in /usr/local/lib/python3.11/dist-packages (from pydantic<3,>=1.9.0->openai) (2.27.2)

In [ ]:
_ = load_dotenv("/content/env") # read local .env file

OPENAI_API_KEY  = os.getenv('OPENAI_API_KEY')

In [ ]:
#Functio to call the model.
def return_OAI(user_message):
    client = OpenAI(
    # This is the default and can be omitted
    api_key=OPENAI_API_KEY,
)
    context = []
    context.append({'role':'system', "content": user_message})

    response = client.chat.completions.create(
            model="gpt-3.5-turbo",
            messages=context,
            temperature=0,
        )

    return (response.choices[0].message.content)

In [ ]:
#Functio to call the model.
def return_OAI(user_message):
    client = OpenAI(
    # This is the default and can be omitted
    api_key=OPENAI_API_KEY,
)
    context = []
    context.append({'role':'system', "content": user_message})

    response = client.chat.completions.create(
            model="gpt-3.5-turbo",
            messages=context,
            temperature=0,
        )

    return (response.choices[0].message.content)

In [ ]:
import pandas as pd

# Table and definitions sample
data = {
    'table': ['employees', 'salary', 'studies'],
    'definition': [
        'Employee information, name, ID, department, and hire date',
        'Salary details for each year, including bonuses and deductions',
        'Educational studies, name of the institution, degree, and graduation year'
    ]
}

df = pd.DataFrame(data)
print(df)

       table                                         definition
0  employees  Employee information, name, ID, department, an...
1     salary  Salary details for each year, including bonuse...
2    studies  Educational studies, name of the institution, ...

In [ ]:
text_tables = '\n'.join([f"{row['table']}: {row['definition']}" for index, row in df.iterrows()])

In [ ]:
print(text_tables)

employees: Employee information, name, ID, department, and hire date
salary: Salary details for each year, including bonuses and deductions
studies: Educational studies, name of the institution, degree, and graduation year

In [ ]:
prompt_question_tables = """
Given the following tables and their content definitions,
###Tables
{tables}

Tell me which tables would be necessary to query with SQL to address the user's question below.
Return the table names in a json format.
###User Questyion:
{question}
"""

In [ ]:
# Creating the prompt with a sample question
pqt1 = prompt_question_tables.format(
    tables=text_tables,
    question="Which employees with a computer science degree earned more than $100,000 in 2023?"
)

In [ ]:
print(return_OAI(pqt1))

{
    "tables": ["employees", "salary", "studies"]
}

In [ ]:
pqt3 = prompt_question_tables.format(
    tables=text_tables,
    question="What is the average salary of employees hired after 2020 grouped by department?"
)

In [ ]:
print(return_OAI(pqt3))

{
    "tables": ["employees", "salary"]
}

# Exercise
 - Complete the prompts similar to what we did in class.
     - Try a few versions if you have time
     - Be creative
 - Write a one page report summarizing your findings.
     - Were there variations that didn't work well? i.e., where GPT either hallucinated or wrong
 - What did you learn?

In [ ]:
# Table and definitions sample with enriched details
data2 = {
    'table': ['employees', 'salary', 'studies'],
    'definition': [
        'Core employee information: name (e.g., "Jane Doe"), ID (unique identifier), department (e.g., "HR"), hire date (e.g., "2022-03-15")',
        'Salary records: employee ID (links to employees), year (e.g., "2023"), base salary (e.g., "$75,000"), bonuses, deductions',
        'Educational background: employee ID (links to employees), institution (e.g., "Stanford"), degree (e.g., "M.S. Data Science"), graduation year (e.g., "2020")'
    ]
}

In [ ]:
f = pd.DataFrame(data2)
text_tables = '\n'.join([f"{row['table']}: {row['definition']}" for index, row in df.iterrows()])

#**Analysis of Table Relationships and Data Linkages**

In [ ]:
# Enhanced prompt with all details, no precomputed answers
prompt_question_tables2 = """
You are an expert database analyst assisting a user with an employee management database. Below are the tables, their detailed definitions, and their relationships. Use this information to provide a clear, actionable response to the user's question.

###Database Overview
This database tracks employee details, compensation history, and educational qualifications to support HR analytics and career development projects.

###Tables
{tables}

###Relationships Between Tables
- employees to salary: one-to-many (Each employee has multiple salary records over time, linked by employee ID as the primary key in 'employees' and foreign key in 'salary').
- employees to studies: one-to-many (Each employee can have multiple educational qualifications, linked by employee ID as the primary key in 'employees' and foreign key in 'studies').
- salary to studies: no direct relation (These tables connect indirectly through 'employees' via employee ID, but have no direct key linking them).

###User Question
{question}

###Instructions
Analyze the user's question and provide a detailed response in JSON format with the following structure:
- "tables": list of all table names in the database
- "relationships": list of objects, each with:
  - "table1": first table name
  - "table2": second table name
  - "relation_type": type of relationship (e.g., one-to-many, no direct relation)
  - "description": explanation of the relationship and how it’s implemented (e.g., key connections)
- "answer": a concise explanation addressing the user’s question, leveraging the table relationships

Focus on clarity, practical examples, and relevance to the user’s goal. Avoid assumptions beyond the provided schema unless explicitly needed to illustrate a point.
"""

In [ ]:
# Format the prompt with a creative user question
pqt4 = prompt_question_tables2.format(
    tables=text_tables,
    question="How are the tables linked together, so I can create a career growth tracker showing salary trends and education for each employee?"
)

In [ ]:
# Execute and print the result
print(return_OAI(pqt4))

```json
{
    "tables": ["employees", "salary", "studies"],
    "relationships": [
        {
            "table1": "employees",
            "table2": "salary",
            "relation_type": "one-to-many",
            "description": "Each employee in the 'employees' table can have multiple salary records in the 'salary' table. This relationship is established through the employee ID as the primary key in 'employees' and as a foreign key in 'salary'."
        },
        {
            "table1": "employees",
            "table2": "studies",
            "relation_type": "one-to-many",
            "description": "Each employee in the 'employees' table can have multiple educational qualifications in the 'studies' table. This relationship is linked through the employee ID as the primary key in 'employees' and as a foreign key in 'studies'."
        },
        {
            "table1": "salary",
            "table2": "studies",
            "relation_type": "no direct relation",
            "description": "There is no direct relationship between the 'salary' and 'studies' tables. However, both tables indirectly connect to the 'employees' table through the employee ID, allowing for a comprehensive analysis of an employee's salary trends and educational qualifications."
        }
    ],
    "answer": "To create a career growth tracker showing salary trends and education for each employee, you can leverage the one-to-many relationships between the 'employees' table and the 'salary' table, as well as between the 'employees' table and the 'studies' table. By querying these tables based on the employee ID, you can track changes in salary over time and educational qualifications for each employee, providing valuable insights into their career progression."
}
```

#**Potential Use Cases and Functional Capabilities of the Database**

In [ ]:
prompt_question_tables3 = """
You are a seasoned SQL consulting expert assisting a user with their employee management database. Below are the tables, their detailed definitions, and their relationships. Use this information to provide an impressive, actionable response to the user's question about what tasks their database can support.

###Database Overview
This database tracks employee details, compensation history, and educational qualifications to empower HR analytics, workforce planning, and career development initiatives.

###Tables
{tables}

###Relationships Between Tables
- employees to salary: one-to-many (Each employee has multiple salary records over time, linked by employee ID as the primary key in 'employees' and foreign key in 'salary').
- employees to studies: one-to-many (Each employee can have multiple educational qualifications, linked by employee ID as the primary key in 'employees' and foreign key in 'studies').
- salary to studies: no direct relation (These tables connect indirectly through 'employees' via employee ID, but have no direct key linking them).

###User Question
What tasks can my database help me accomplish?

###Instructions
Analyze the database schema and relationships, then provide a detailed response in JSON format with the following structure:
- "tables": list of all table names in the database
- "capabilities": list of objects, each with:
  - "task": a specific task phrased as "Track [X] and identify [Y]" (e.g., "Track salary trends and identify top earners")
  - "description": a practical, impressive explanation of how the database enables this task, using SQL-relevant insights (e.g., joins, aggregations)
Focus on delivering at least three creative, high-value use cases that highlight the database’s potential. Use confident, expert-level language to inspire the user as a top-tier consultant.
"""

In [ ]:
# Format the prompt with a creative user question
pqt5 = prompt_question_tables3.format(
    tables=text_tables,
    question="What tasks can my database help me accomplish?"
)

In [ ]:
# Execute and print the result
print(return_OAI(pqt5))

```json
{
    "tables": ["employees", "salary", "studies"],
    "capabilities": [
        {
            "task": "Track employee career progression and identify high-potential talents",
            "description": "By joining the 'employees' table with the 'salary' table on employee ID, you can track salary changes over time. Using aggregations like MAX(salary_amount) and MIN(salary_amount), you can identify employees with the highest salary growth rates, indicating high-potential talents deserving of career development opportunities."
        },
        {
            "task": "Analyze educational qualifications and identify skill gaps within departments",
            "description": "By joining the 'employees' table with the 'studies' table on employee ID, you can analyze the educational qualifications of employees within each department. Using COUNT(degree) by department, you can identify departments with a higher percentage of employees holding advanced degrees, highlighting potential skill gaps that may require targeted training or recruitment efforts."
        },
        {
            "task": "Forecast workforce planning needs based on historical compensation data",
            "description": "By aggregating salary data from the 'salary' table over time, you can identify trends in compensation growth rates by department or job role. By applying statistical functions like AVG(salary_amount) and forecasting techniques, you can predict future compensation trends, enabling proactive workforce planning to attract and retain top talent in a competitive market."
        }
    ]
}
```

#**Types of SQL Queries Supported and Their Applications**

In [ ]:
prompt_question_tables4 = """
You are an elite SQL consultant guiding a user through their employee management database. Below are the tables, their detailed definitions, and their relationships. Leverage this schema to deliver a standout response to the user's question about SQL query capabilities.

###Database Overview
This database captures employee profiles, salary histories, and educational backgrounds, designed to fuel advanced HR analytics and data-driven decisions.

###Tables
{tables}

###Relationships Between Tables
- employees to salary: one-to-many (Each employee has multiple salary records over time, linked by employee ID as the primary key in 'employees' and foreign key in 'salary').
- employees to studies: one-to-many (Each employee can have multiple educational qualifications, linked by employee ID as the primary key in 'employees' and foreign key in 'studies').
- salary to studies: no direct relation (These tables connect indirectly through 'employees' via employee ID, but have no direct key linking them).

###User Question
What types of SQL queries can my database support?

###Instructions
Examine the database structure and relationships, then provide a detailed response in JSON format with the following structure:
- "tables": list of all table names in the database
- "query_types": list of objects, each with:
  - "query_type": a specific SQL query type (e.g., "Aggregation queries")
  - "description": a compelling explanation of how the database supports this query type, including example use cases and SQL techniques
Offer at least three distinct query types, showcasing the database’s versatility. Use persuasive, expert-level language to demonstrate your SQL mastery and excite the user about their data’s potential.
"""

In [ ]:
# Format the prompt with a creative user question
pqt6 = prompt_question_tables4.format(
    tables=text_tables,
    question="What types of SQL queries can my database support?"
)

In [ ]:
# Execute and print the result
print(return_OAI(pqt6))

{
    "tables": ["employees", "salary", "studies"],
    "query_types": [
        {
            "query_type": "Aggregation queries",
            "description": "Your database fully supports aggregation queries, allowing you to analyze and summarize data across multiple records. For example, you can calculate average salaries per department, total years of experience by educational degree, or the maximum bonus received by employees in a specific year. By using SQL functions like SUM, AVG, COUNT, and MAX along with GROUP BY clauses, you can derive valuable insights for strategic decision-making and performance evaluation."
        },
        {
            "query_type": "Join queries",
            "description": "With the relational structure in your database, join queries are a powerful tool to combine data from multiple tables. You can retrieve comprehensive employee profiles by joining the 'employees' table with 'salary' and 'studies' tables to get a holistic view of each employee's career progression, compensation history, and educational background. Utilize INNER JOIN, LEFT JOIN, or even CROSS JOIN to merge data based on common keys like employee ID, enabling you to generate detailed reports for talent management and resource allocation."
        },
        {
            "query_type": "Subquery queries",
            "description": "The database's design allows for complex subquery queries, enabling you to nest queries within a larger query to perform advanced analysis. For instance, you can use a subquery to find employees who have a salary above the average for their department, or to identify individuals with the highest level of education within each team. By leveraging subqueries in SELECT, WHERE, or HAVING clauses, you can extract specific insights that would be challenging to obtain with simple queries, empowering you to uncover hidden patterns and outliers in your workforce data."
        }
    ]
}



# **Analysis of SQL Database Prompt Responses with OpenAI API**

## **Objective:**
The purpose of this experiment was to evaluate the effectiveness of various structured prompts in generating accurate and insightful responses regarding an employee management database. The goal was to analyze the database's structure, relationships, potential use cases, and supported SQL queries.

## **Findings:**
Several variations of prompts were tested, each designed to extract meaningful insights about the database. The responses were evaluated for correctness, coherence, and practical value.

### **1. Analysis of Table Relationships and Data Linkages**
- The output correctly identified the relationships between tables (one-to-many relationships between `employees` and both `salary` and `studies`).
- It successfully described how these relationships facilitate career growth tracking.
- No hallucinations or errors were detected in the response structure.

### **2. Potential Use Cases and Functional Capabilities of the Database**
- The response highlighted valuable HR tasks, such as tracking salary trends, identifying top performers, and analyzing education's impact on compensation.
- The generated use cases were relevant and well-articulated.
- Some minor redundancy was noted in the task descriptions.

### **3. Types of SQL Queries Supported and Their Applications**
- The AI provided well-structured explanations for query types (aggregations, joins, filtering, and ranking).
- Example use cases were contextually appropriate, aligning well with the database schema.
- No significant errors were observed, though additional real-world SQL examples could improve response quality.

## **Challenges & Limitations:**
- In some instances, the AI output included generic insights that did not fully leverage the provided schema.
- While the AI did not hallucinate relationships, there were occasional oversimplifications in descriptions of data usage.
- The lack of real SQL code examples in certain responses limited practical applicability.

## **Lessons Learned:**
- Detailed prompts that specify relationships explicitly help mitigate AI-generated assumptions.
- Providing a structured response format enhances clarity and usability of the output.
- Encouraging the AI to include SQL snippets could further improve response quality.
- Fine-tuning the balance between brevity and detail ensures responses remain insightful without being overly verbose.

## **Conclusion:**
The structured prompt approach proved highly effective in extracting meaningful database insights. While the responses were mostly accurate and useful, minor refinements, such as including more SQL-specific examples, could further enhance their value. Future work could focus on refining prompt design to encourage more precise, context-aware responses.